[Unit]
Description=full system update
After=network-online.target
Requires=network-online.target
ConditionACPower=true

[Service]
ExecStart=/usr/sbin/update-system -s -l 0.75

CPUSchedulingPolicy=batch
CPUWeight=10
IOWeight=10
# Lowest I/O-scheduling priority
IOSchedulingPriority=7
MemoryHigh=80%
MemoryMax=95%

Environment=NO_COLOR=true
