[Unit]
Description=Update the system
After=network-online.target
Requires=network-online.target
ConditionACPower=true

[Service]
ExecStart=/usr/bin/systemd-inhibit --what=idle:sleep /usr/sbin/update-system -s -l 0.75

CPUSchedulingPolicy=batch
CPUWeight=10
IOWeight=10
MemoryHigh=80%
MemoryMax=95%

# Work around for https://github.com/vaeth/eix/pull/91
Environment=HOME=/root
Environment=NO_COLOR=true
