[Unit]
Description=Update the system
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/sbin/update-system -s

CPUWeight=10
IOWeight=10
MemoryHigh=80%
MemoryMax=95%
